<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magecomp>
            <imageclean>
                <media_path><![CDATA[/var/www/shared/pub/media/catalog/product]]></media_path>
            </imageclean>
        </magecomp>
    </default>
</config>
